XGenerateLib/src/main/resources/com/xbreeze/xgenerate/config/XGenConfig.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="XGenConfig" type="xGenConfig"/>

  <xs:complexType name="xGenConfig">
    <xs:sequence>
      <xs:element name="Model" type="modelConfig" minOccurs="0"/>
      <xs:choice minOccurs="0">
        <xs:element name="TextTemplate" type="textTemplateConfig"/>
        <xs:element name="XmlTemplate" type="xmlTemplateConfig"/>
      </xs:choice>
      <xs:element name="Binding" type="bindingConfig" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modelConfig">
    <xs:sequence>
      <xs:element name="ModelAttributeInjections" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ModelAttributeInjection" type="modelAttributeInjection" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ModelNameSpaces" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ModelNameSpace" type="modelNameSpace" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ModelNodeRemovals" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ModelNodeRemoval" type="modelNodeRemoval" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modelAttributeInjection">
    <xs:sequence/>
    <xs:attribute name="modelXPath" type="xs:string" use="required"/>
    <xs:attribute name="targetAttribute" type="xs:string" use="required"/>
    <xs:attribute name="targetValue" type="xs:string"/>
    <xs:attribute name="targetXPath" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="modelNameSpace">
    <xs:sequence/>
    <xs:attribute name="alias" type="xs:string" use="required"/>
    <xs:attribute name="url" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="modelNodeRemoval">
    <xs:sequence/>
    <xs:attribute name="modelXPath" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="textTemplateConfig">
    <xs:sequence>
      <xs:element name="FileFormat" type="fileFormatConfig" minOccurs="0"/>
      <xs:element name="Output" type="outputConfig"/>
      <xs:element name="TextSections" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TextSection" type="templateTextSectionAnnotation" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="rootSectionName" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="fileFormatConfig">
    <xs:sequence/>
    <xs:attribute name="annotationArgsPrefix" type="xs:string"/>
    <xs:attribute name="annotationArgsSuffix" type="xs:string"/>
    <xs:attribute name="annotationPrefix" type="xs:string"/>
    <xs:attribute name="childAccessor" type="xs:string"/>
    <xs:attribute name="commentNodeXPath" type="xs:string"/>
    <xs:attribute name="currentAccessor" type="xs:string"/>
    <xs:attribute name="multiLineCommentPrefix" type="xs:string"/>
    <xs:attribute name="multiLineCommentSuffix" type="xs:string"/>
    <xs:attribute name="singleLineCommentPrefix" type="xs:string"/>
    <xs:attribute name="type" type="fileFormatType"/>
    <xs:attribute name="version" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="outputConfig">
    <xs:sequence/>
    <xs:attribute name="type" type="outputType" use="required"/>
  </xs:complexType>

  <xs:complexType name="templateTextSectionAnnotation">
    <xs:complexContent>
      <xs:extension base="templateAnnotation">
        <xs:sequence/>
        <xs:attribute name="begin" type="xs:string"/>
        <xs:attribute name="end" type="xs:string"/>
        <xs:attribute name="includeBegin" type="xs:boolean"/>
        <xs:attribute name="includeEnd" type="xs:boolean"/>
        <xs:attribute name="literalOnFirstLine" type="xs:string"/>
        <xs:attribute name="literalOnLastLine" type="xs:string"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="nrOfLines" type="xs:int"/>
        <xs:attribute name="optional" type="xs:boolean"/>
        <xs:attribute name="placeholderName" type="xs:string"/>
        <xs:attribute name="prefix" type="xs:string"/>
        <xs:attribute name="prefixAction" type="repetitionAction"/>
        <xs:attribute name="prefixStyle" type="repetitionStyle"/>
        <xs:attribute name="suffix" type="xs:string"/>
        <xs:attribute name="suffixAction" type="repetitionAction"/>
        <xs:attribute name="suffixStyle" type="repetitionStyle"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="templateAnnotation" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="xmlTemplateConfig">
    <xs:sequence>
      <xs:element name="FileFormat" type="fileFormatConfig" minOccurs="0"/>
      <xs:element name="Output" type="outputConfig"/>
      <xs:element name="XmlSections" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="XmlSection" type="templateXmlSectionAnnotation" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TemplateAttributeInjections" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TemplateAttributeInjection" type="xmlTemplateAttributeInjection" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TemplateNodeRemovals" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TemplateNodeRemoval" type="xmlTemplateNodeRemoval" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TemplatePlaceholderInjections" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TemplatePlaceholderInjection" type="xmlTemplatePlaceholderInjection" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TextTemplates" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TextTemplate" type="xmlNodeTextTemplateConfig" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="rootSectionName" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="templateXmlSectionAnnotation">
    <xs:complexContent>
      <xs:extension base="templateAnnotation">
        <xs:sequence/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="optional" type="xs:boolean"/>
        <xs:attribute name="placeholderName" type="xs:string"/>
        <xs:attribute name="templateXPath" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="xmlTemplateAttributeInjection">
    <xs:sequence/>
    <xs:attribute name="attributeName" type="xs:string"/>
    <xs:attribute name="attributeValue" type="xs:string"/>
    <xs:attribute name="templateXPath" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="xmlTemplateNodeRemoval">
    <xs:sequence/>
    <xs:attribute name="templateXPath" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="xmlTemplatePlaceholderInjection">
    <xs:sequence/>
    <xs:attribute name="modelNode" type="xs:string"/>
    <xs:attribute name="scope" type="templatePlaceholderScope"/>
    <xs:attribute name="templateXPath" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="xmlNodeTextTemplateConfig">
    <xs:sequence>
      <xs:element name="FileFormat" type="fileFormatConfig" minOccurs="0"/>
      <xs:element name="TextSections" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TextSection" type="templateTextSectionAnnotation" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="node" type="xs:string"/>
    <xs:attribute name="rootSectionName" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="bindingConfig">
    <xs:complexContent>
      <xs:extension base="bindingContainer">
        <xs:sequence/>
        <xs:attribute name="implicitPlaceholderPrefix" type="xs:string"/>
        <xs:attribute name="implicitPlaceholderSuffix" type="xs:string"/>
        <xs:attribute name="implicitPlaceholders" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="bindingContainer" abstract="true">
    <xs:sequence>
      <xs:element name="Literals" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Literal" type="literalConfig" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Placeholders" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Placeholder" type="placeholderConfig" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SectionModelBinding" type="sectionModelBindingConfig" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="literalConfig">
    <xs:sequence/>
    <xs:attribute name="literal" type="xs:string" use="required"/>
    <xs:attribute name="modelXPath" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="placeholderConfig">
    <xs:sequence/>
    <xs:attribute name="modelXPath" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="variableName" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="sectionModelBindingConfig">
    <xs:complexContent>
      <xs:extension base="bindingContainer">
        <xs:sequence/>
        <xs:attribute name="modelXPath" type="xs:string" use="required"/>
        <xs:attribute name="placeholderName" type="xs:string"/>
        <xs:attribute name="section" type="xs:string" use="required"/>
        <xs:attribute name="variableName" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="fileFormatType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ANSI_SQL"/>
      <xs:enumeration value="Microsoft_SQL"/>
      <xs:enumeration value="Microsoft_SSIS"/>
      <xs:enumeration value="Informatica_PowerCenter"/>
      <xs:enumeration value="IBM_DataStage"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="outputType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="output_per_element"/>
      <xs:enumeration value="single_output"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="repetitionAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="add"/>
      <xs:enumeration value="remove"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="repetitionStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="firstOnly"/>
      <xs:enumeration value="lastOnly"/>
      <xs:enumeration value="allButFirst"/>
      <xs:enumeration value="allButLast"/>
      <xs:enumeration value="allButFirstAndLast"/>
      <xs:enumeration value="all"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="templatePlaceholderScope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="current"/>
      <xs:enumeration value="child"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

